.signup-login-route {
  margin: 0;
  padding: 0;
  background-color: #7d3c89;
  height: 100vh;
}
.signup-login-route > main {
  /* display: flex;  */
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  width: 70%;
  margin: auto;
}

.signup-login-route > main > div {
  margin: 0.5rem;
}

.signup-login-route > main > a {
  text-decoration: none;
  color: white;
}

.signup-login-route > main > header {
  display: flex;
  /* TODO: Find why is this needed */
  background-color: turquoise;
}

.signup-login-route > main > header > img {
  width: 100%;
  background-size: contain;
}

.signup-login-route > main > form {
  background-color: #71327c;
  padding: 1rem;
  /* margin-right: 20%; */
}

.signup-login-route > main > form > * {
  margin: 0.5rem;
}

.signup-login-route > main > form > h1 {
  margin-bottom: 1.5rem;
}

.signup-login-route > main > form > div {
  text-align: right;
  margin-right: 40%;
}
.signup-login-route > main > form > div > input {
  padding: 0.4rem;
  background-color: #ffd4f3;
}

.signup-login-route > main > form > button {
  margin: auto;
  margin-top: 1rem;
  color: white;
  background-color: #ac80a0;
  padding: 0.5rem 2rem;
}
