.admin-body {
  display: flex;
  justify-content: center;
}
.admin-dashboard > table {
  margin: 1rem;
}

.admin-dashboard > table > thead,
.admin-dashboard > table > tbody {
  background-color: white;
}
