.card .next-icon {
  transition: all 0.2s ease;
}

.card:hover .next-icon {
  color: var(--primary-color);
  transform: translateX(0.5rem);
  transition: all 0.2s ease;
}

.logo-container {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.chat-button {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  bottom: 2rem;
  right: 4rem;
}
