@import url("https://swift-ui-library.netlify.app/style.css");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("./styles/utility.css");
@import url("./Components/Navbar/style.css");

:root {
  --primary-color: purple;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-body {
  height: calc(100vh - 4rem);
  overflow: auto;
  padding: 1rem;
}

.card {
  box-shadow: none;
  border: 1px solid var(--gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
