body {
  background-color: rgb(233, 208, 233);
}

.pageTitle {
  text-align: center;
}

.tab {
  background-color: transparent;
  font-size: 1rem;
  padding: 1rem;
  border-width: 0;
  border-radius: 0.5rem;
}
.tab-active {
  background-color: rgb(255, 255, 255);
}

.FileUploadInput {
  display: none;
}

.FileUpload {
  text-align: center;
}

.FileUpload button {
  background-color: white;
  padding: 0.5rem 1rem;
  border-width: 0;
  border-radius: 5rem;
  box-shadow: 0.05rem 0.1rem 0.2rem;
  margin-bottom: 0.5rem;
}

form {
  margin: 1rem;
}

form label {
  font-weight: bold;
}

form table {
  background-color: rgb(230, 184, 241);
  padding: 1rem;
  margin: auto;
  /* border: solid; */
  border-radius: 1rem;
}

form > button {
  display: block;
  margin: auto;
  margin-top: 1rem;
}

input {
  width: 10rem;
}

.submit-button {
  background-color: rgb(210, 97, 238);
  padding: 0.5rem 1rem;
  border-width: 0;
  border-radius: 5rem;
  box-shadow: 0.05rem 0.1rem 0.2rem;
  margin-bottom: 0.5rem;
}

.table {
  margin: auto;
  padding: 1rem;
}

.table > thead,
.table > tbody {
  background-color: white;
}

td > label {
  /* background-color: aqua; */
  padding-right: 4rem;
}
